<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="https://www.instagram.com/bayareatnr/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="http://faceboook.com/bayareacats" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  </ul>

  <ul class="copyright">
      <li>&copy; Bay Area Cats 2023</li>
      <li><b>Want to help?</b> Donate <a target="_blank" href="https://www.chewy.com/g/bay-area-cats_b103747788?utm_medium=email&utm_source=transactional&utm_campaign=SHELTER_BUSINESS_PAGE_APPROVED#wish-list">supplies</a> or via <a target="_blank" href="https://paypal.me/bayareacats">PayPal</a>.</li>
      <li><a href="mailto:info@bayareacats.org">info@bayareacats.org</a></li>
  </ul>
</footer>
