<!-- Footer -->
<footer id="footer">
  <p style="text-align: center;"><a style="font-size: 1.8em;vertical-align:middle" href="https://www.instagram.com/bayareatnr/" class="icon fa-instagram"><span class="label">Instagram</span></a>
  <ul class="copyright">
      <li>&copy; Bay Area Cats 2022</li>
      <li><b>Want to help?</b> Donate <a target="_blank" href="https://smile.amazon.com/hz/wishlist/ls/2Z9PEZZFHM11I?ref_=wl_share">supplies</a> or via <a target="_blank" href="https://paypal.me/bayareaTNR">PayPal</a>.</li>
      <li><a href="mailto:bayareaTNR@gmail.com">bayareaTNR@gmail.com</a></li>
  </ul>
</footer>
