<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
            <li><a href="{{ site.baseurl }}/trapping">Trapping</a></li>
            <li><a href="{{ site.baseurl }}/donate">Donate</a></li>
            <!-- <li><a href="{{ site.baseurl }}/kitten-care">Kitten Care</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/success-stories">Success Stories</a></li> -->
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>