<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/trapping">Trapping</a></li>
            <li><a href="{{ site.baseurl }}/adoptions">Adoptions</a></li>
            <li><a href="{{ site.baseurl }}/donate">Donate</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </nav>
</header>