<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <a class="image fit"><img src="images/bayareacats_banner.png" alt="" /></a>

                <!-- <h2>Bay Area Cats</h2>
                <p>Advice and resources for trap-neuter-return (TNR) for feral cats in the South Bay.</p> -->
            </div>
        </section>

        {{ content }}

        {% include /footer.html %}

    </body>

</html>
